

<ion-content [fullscreen]="true">
  <div class="logo">
    <img src="assets/img/Logo.png" alt="">
  </div>
  <div>
    <ion-title class="title_color">Iniciar Sesion</ion-title><br>
  </div>
  <div class="login_color"> 
    <ion-item class="login_color2"><ion-label>Usuario:</ion-label></ion-item>
    <ion-item class="login_color2"><ion-input class="input_cl" placeholder="Ingrese usuario"></ion-input></ion-item>
    <ion-item class="login_color2"><ion-label>Contraseña:</ion-label></ion-item>
    <ion-item class="login_color2"><ion-input class="input_cl" type="password" placeholder="Ingrese contraseña"></ion-input></ion-item>
    <ion-item class="login_color2"><ion-button class="ioitem" expand="block" routerLink="/profesor">Ingresar</ion-button></ion-item>
    <ion-item><ion-button expand="block" routerLink="/alumno" >Ingresar 2</ion-button></ion-item>
  </div>
</ion-content>
